body{
    background-color: black;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('back.jpg');

}
.heading{
    margin:10px 10px;
    
}
.heading h1{
    color:white;
    text-align: center;
    border-bottom: 2px solid whitesmoke;
    font-weight: 100px;
    
    
}
.drowsy{
    text-align: center;
    padding-top: 50px
}