body{
    background-color: black;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('back.jpg');

}
.heading{
    margin:0px 30px;
}
.heading h1{
    color:white;
    text-align: center;
    border-bottom: 2px solid white;
    
}
.drowsy{
    text-align: center;
}